body {
    background-color: #FFFC00;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 300px;
    margin-bottom: 54px;
  }
  
  h1 {
    cursor: pointer;
    text-align: center;
    color: #5e5e5e;
    font-size: 28px;
font-family: sans-serif;
font-weight: 600;
  }
  
  input[type="text"], input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 16px;
  }
  
 .btn {
    background-color: #FFFC00;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
   
  }
.btn :hover {
  background: #646464;
  transition: 0.5s;
  }
  .head h1{
    position: absolute;
    margin-top: 255px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 600;
  }
  /*  */
